@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open Sans:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
}

table{
	paging:false;
	"bPaginate": false;
}

  .navbar{
  padding: .8rem;
}

.navbar img{
  height: 40px;
  width: 40px;
}

.navbar-nav li{
  padding-right: 20px;
} 

.nav-link{
  font-size: 1.1em !important
} 

.quantity-padding{
  padding: .5px;
  font-size: 11px;
  text-align: center;
}
 

.qtyBtnGeneral{
	font-size: 11px;
} 

.padding-0{
    padding-right:0;
    padding-left:0;
}

.quantityBtnMinus,.quantityBtnAdd {
     padding: 7px ;
    font-size: 11px;
    
}


.card{
  padding: 0em;
  border:0;
  padding-top: 0em;

}

.card-body{
padding-top: 0em;
padding-bottom: 0em;  
}



.rightBottomfixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.leftBottomfixedbutton {
    position: fixed;
    bottom: 0px;
    left: 0px; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fafafa;
  border-top: solid 1px #eee;
}

.footer p {
  margin-top: 30px;
}


/*---Media Queries --*/
@media (max-width: 575.98px) { 
    .card-text{
    	font-size: .65em;
	  }
	table, .confimPgInputForm{
		font-size: .65em;
	}
 

 }

@media (max-width: 576px) {
    .card-text{
    font-size: .7em;
  }

	table, .confimPgInputForm{
		font-size: .7em;
	}
 
}

@media (max-width: 768px) {
   .card-text{
    font-size: .75em;
  }
  table, .confimPgInputForm{
		font-size: .75em;
	}
 
}

@media (max-width: 862px) {
   .card-text{
    font-size: .75em;
  }
  table, .confimPgInputForm{
		font-size: .75em;
	}

}


@media (max-width: 992px) {
    .card-text{
      font-size: .8em;
    }
   
   table, .confimPgInputForm{
		font-size: .8em;
	}
  }

@media (min-width: 1200px) {
  .card-text{
    font-size: .9em;
  }
  
table, .confimPgInputForm{
		font-size: .9em;
	}

}





.quantityBtnMinus{
  background-color: #ffffff;
  color:red;
}
/* Darker background on mouse-over */
.quantityBtnMinus:hover {
  background-color: #eceaeb;
}

.quantityBtnAdd{
  background-color: #ffffff;
  color:red;
}
/* Darker background on mouse-over */
.quantityBtnAdd:hover {
  background-color: #eceaeb;
}

.a4footer{
  background-color: #eceaeb;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified .btn,
  .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
    .btn-group-justified .btn .btn,
    .btn-group-justified .btn-group .btn {
      width: 100%; }
    .btn-group-justified .btn .dropdown-menu,
    .btn-group-justified .btn-group .dropdown-menu {
      left: auto; 
    }


.btn-group-justified a:hover{
  background-color: #ffc107 ;
  border: none;
}

.buttonStyleRectangle {
  background-color: #ffc107; /* Green */
  border: none;
  color: white;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonStyleRectangle1 {
  background-color: #3655a4; /* Green */
  border: none;
  color: white;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}




button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}



.bodypadding{
	padding-top:1em;
}














/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



.tblTemplate{
	color: #111f;
}

.confimPgInputForm{
	color: #111f;
	padding: 1em;
}

.tblTemplate thead th {border: none !important; }
.tblTemplate td {border: none !important; }
.tblTemplate thead {border: none !important; }



.rupeesymbol{
	font-size: 12px;
	color: grey;
}

.align-right{
	text-align: right;
}


.form-inline > * {
   margin:5px 3px;
}

#trackOrderTable{
overflow-y:scroll;
height:500px;
}



.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


.error{
	color:red;
}

.comboLineItemDiv{
	font-size:9px;
	font-weight: normal;
	font-family: 'Calibri';
	padding-left: 0px;
}

.divQtyAddBtnPanel{
	color:#F26522;
	padding-left:10px;
	text-align:center;
	padding:4px;
	font-size: 10px;
	font-weight: 700;
}
/**************Accordian************************/



/********************************************/
